@import 'node_modules/bootstrap/scss/bootstrap';
/* npx node-sass scss/styles.scss css/styles.css*/


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.masthead{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../assets/images/WLBackground.jpg");
    background-size: cover;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.nav-link{
    color:white !important;
}

#arrow-icon{
    font-size: 7rem;
    display: block;
    color: white;
}

section > div.row{
    margin: 0;
}


div.video-container > video{
    width: 60%;
}

section{
    position: relative;
    background-image: url("../assets/images/backgroundPattern.webp");
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lifts-banner{
    background-image: url("../assets/images/whitePattern.jpg");
    width: 100%;
}

#competitions-banner{
    background-image: url("../assets/images/blackPattern2.jpg");
    width: 100%;
}

@media screen and (max-width:992px){
    #clean_and_jerk, lift-judgement{
      display:flex;
      flex-flow: column;
    }
    #video-clean-and-jerk, #platform-image{order:2;}
    #text-clean-and-jerk, #lift-judgement-paragraph{order:1;}

  }